<div class="container" id="app-area">
  <section class="row">
    <div class="col-md-4">
      <div>
        <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      </div>
    </div><!-- End of left column-->
    <div class="col-md-8 container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Account Setting</h3>
          </div>
          <div class="panel-body">
            <div class="">
              <div class="">
                <span>AccountID:</span><span>018283372</span>
              </div>
              <div>
                <span>AccountName:</span><span>Pham Duc Minh</span>
              </div>
              <div>
                <span>Password:</span><span>*******</span>
              </div>
              <button class="btn btn-default" >Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contact Infomation</h3>
          </div>
          <div class="panel-body">
            <div class="">
              <div class="">
                <span>Full Name</span><span>Pham Duc Minh</span>
              </div>
              <div>
                <span>Address:</span><span>Hoan Kiem</span>
              </div>
              <div>
                <span>City:</span><span>Ha Noi</span>
              </div>
              <div>
                <span>State:</span><span>Viet Nam</span>
              </div>
              <div>
                <span>Phone Number:</span><span>+846537736</span>
              </div>
              <div>
                <span>Company Name</span><span>CC Colt</span>
              </div>
              <button class="btn btn-default" >Edit</button>
            </div>
          </div>
        </div>
      </div> <!-- End of contact infomation -->
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Account Setting</h3>
          </div>
          <div class="panel-body">
            <div class="">
              <div class="">
                <span>Card Number</span><span>************372</span>
              </div>
              <div>
                <span>Owner:</span><span>Pham Duc Minh</span>
              </div>
              <div>
                <span>Type:</span><span>Visa</span>
              </div>
              <button class="btn btn-default" >Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>