<script type="text/javascript">
  $(document).ready(function() { 
    $("#data-table").tablesorter(); 
  }); 
</script>
<div class="row">
  <div class="button-bar container">
    <div class="row">
      <div class="col-md-4">
        <label>Order by:</label>
      </div>
      <div class="col-md-8">
        <select name="order">
          <option value="">Please select</option>
          <option value="1" selected="selected">Best price</option>
          <option value="2">Minimum transit station</option>
          <option value="3">Time</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="table-name">
    <span>Routes for #<%= @request.id %></span>
  </div>
  <div class="table-content">
    <table id="data-table" class="table table-striped tablesorter">
      <thead>
        <tr>
          <th>#</th>
          <th>Level</th>
          <th>Estimate time</th>
          <th>Description</th>
          <th>Action</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.level %></td>
          <td></td>
          <td></td>
          <td><%= button_to "Process to supplier", customer_schedule_trips_path(schedule) %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>