<script type="text/javascript">
  $(document).ready(function() { 
    $("#data-table").tablesorter(); 
  }); 
</script>
<div class="container" id="app-area">
  <div class="row">
    <div class="button-bar">
      <a class="btn btn-default" href="#" role="button">Link</a>
      <button class="btn btn-default" type="submit">Button</button>
      <input class="btn btn-default" type="button" value="Input">
      <input class="btn btn-default" type="submit" value="Submit">
    </div>
  </div>
  <section class="row">
    <div class="table-name">
      <span>All requests</span>
    </div>
    <div class="table-content">
      <table id="data-table" class="table table-striped tablesorter">
        <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Description</th>
            <th>Action</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |item| %> 
          <tr>
            <td><%= item.id %></td>
            <td><%= item.customer.user.email %></td>
            <td>This text is static content....</td>
            <td><span class="glyphicon glyphicon-pencil"></span></td>
            <td>
              <% if item.status == "none" %>
              This request curently open, <%= link_to "more...", supplier_request_path(item.id) %></a>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>

