<div class="container" id="app-area">
  <section class="row">
    <a class="btn btn-default" href="#" role="button">Link</a>
    <button class="btn btn-default" type="submit">Button</button>
    <input class="btn btn-default" type="button" value="Input">
    <input class="btn btn-default" type="submit" value="Submit">
  </section>
  <section class="row">
    <br/><br/><br/><br/>
  </section>
  <section class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Description</th>
          <th>Action</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |item| %> 
          <tr>
            <% invoice = Invoice.find_by request_id: item.id, supplier_id: Supplier.select(:supplier_id).find_by_user_id(current_user.id) %>
            <% if invoice.nil? %>
              <td><%= item.id %></td>
              <td><%= item.customer.user.email %></td>
              <td>This text is static content....</td>
              <td><span class="glyphicon glyphicon-pencil"></span></td>
              <td>
              
              <% if item.status == "none" %>
                This request curently open, <%= link_to "more...", supplier_request_path(item.id) %></a>
              <% end %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>

