<div><h2>Create new request</h2></div>

<div class="form-area">
  <div class="row">
    <div class="col-md-4">
      <h4><p>Customer name: <%= current_user.get_detailed_info.name %></p></h4>
    </div>
  </div>
  <div class="row">
    <%= render "form" %>
  </div>
</div>
