// Home app
#app-area {
  padding-top: 70px;  
}

.app-icon{
  margin-left: 10px;
}

.simple-calendar .day{ 
  height: 50%;
  width: 14.28%;
}

#charm-panel{
  padding-left: 120px;
}

.app-icon-title{
  text-align: center;
  font-size: 21px;
  color: #000306;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}
// customer/requests
.form-area{
  background-color: #F6F7ED;
  padding: 10px;
  border-radius: 5px;
}
//Authentication
#float-panel{
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 300px;
  height: 250px;

  background: #f0f0fd;
  background: rgba(240,240,253,0.90);
  padding: 22px 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

// Background login page
#app-area-devise{
  min-height: 648px;
  background: rgba(255,187,0,1);
  background: -moz-linear-gradient(top, rgba(255,187,0,1) 0%, rgba(128,0,0,0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,187,0,1)), color-stop(100%, rgba(128,0,0,0.7)));
  background: -webkit-linear-gradient(top, rgba(255,187,0,1) 0%, rgba(128,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(255,187,0,1) 0%, rgba(128,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(255,187,0,1) 0%, rgba(128,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(255,187,0,1) 0%, rgba(128,0,0,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb00', endColorstr='#800000', GradientType=0 );
}
#login-background{
  background-image: url(asset-path('background.png'));
  overflow: hidden;
  background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000306;
}

.alert-notice{
  background-color: #77B300;
  color: #fafafa;
}

//Devise layout alert box
#alert-box{
  margin-top: 70px;
}
//DataTable
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14pt;
  background-image: image-url("bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: image-url("asc.gif");
}
table.tablesorter thead tr .headerSortDown {
  background-image: image-url("desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}
.button-bar{
  margin: 10px;
}
.table-name{
  border-bottom: 1px #FFF solid;
  background-color: #e6EEEE;
  width: 20%;  
  padding: 5px;
  border-radius: 0px 35px 0px 0px;

}
.table-name span{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14pt;
  padding-left: 20px;
}
